
*{
    margin: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.children {
    text-align: center;
    border: 2px solid black;
    border-radius: 7px;
    width: 230px;
    height: 230px;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgb(194, 194, 194);
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 7px;
    border-color: lightgrey;
}
input[type=text]{
    width: 150px;
    height: 30px;
    margin: 8px;
}
input[type=button]{
    background-color: blue;
}